---
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Card from '@components/content/Card.astro';

const posts = (await getCollection('posts', ({ data }) => {
    return data.public !== false;
}))
.sort((a, b) => b.data.publicationDate.valueOf() - a.data.publicationDate.valueOf())
.slice(0,5);

const footerLink = "/lungta/logos/post";
const footerText = "Create your Community";

// BookBike
const url = 'https://assets.api.uizard.io/api/cdn/stream/22f374e9-e658-489f-93b7-0fd727f7b539.png';
const alt = "BookBike";
const title = "BookBike";
const descriptions = ["A bike rental aggregator.", "Available in South East Asia."];
---

<Layout title="Home" 
  footerLink={footerLink} 
  footerText={footerText}
>
  <div class="flex flex-row">
    <section class="basis-1/6"></section>
    <section class="basis-2/3">
      <h2 class="solway-regular">Communities</h2>
      <p class="text-sm text-gray-500 mb-4">The communities are build around the projects to develop and maintain them.</p>
      <div class="grid grid-flow-row-dense grid-cols-3 space-x-8 space-y-8 ">
          {posts.map(post => (
              <Card
                title={title}
                descriptions={descriptions}
                url={url}
                alt={alt} 
              />
              <Card
                title={title}
                descriptions={descriptions}
                url={url}
                alt={alt} 
              />
          ))}
      </div>
    </section>
    <section class="basis-1/6"></section>
  </div>
</Layout>

