---
import HeadContent from	"@components/HeadContent.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { CONFIG } from "../config";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  footerLink?: string;
  footerText?: string;
}

const { 
	title = CONFIG.site_title, 
	description = CONFIG.description, 
	image = "/og-default.jpg",
	footerLink,
	footerText,
} = Astro.props;
---

<!doctype html>
<html lang="en-us">
	<head>
		<HeadContent title={title} description={description} image={image} />
	</head>
	<body>
		<Header />
		<slot/>
		<Footer footerLink={footerLink} footerText={footerText} />
	</body>
</html>
